.mispedidos{
    /* background: red; */
   padding: 15% 0% 0% 0%;
    /* padding-top: 5rem; */
   display: flex;
   flex-direction: column;
    justify-content: center;
    gap: 0rem;

}
.pedido{
    background-color: var(--activo);
    color: var(--primario);
    margin: 0.2rem;
    border-radius:1rem ;
}
.pedidos_datos{
     display: grid;
    grid-template-columns: 1fr 1fr;
    gap:0rem;
}
.dato{
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}
.pedido label{
/* color: #000; */
font-weight: bolder;
}