* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
  font-family: redhat-display, sans-serif;
}

:root {
  --primario: #004aad;
  --activo: #ebdc20;
  --fondo: #f7fff7;
  --texto: #343434;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 10 0vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  color: var (--primario);
}
.boton__menu {
  color: var(--primario);
}
.boton__principal {
  background-color: var(--primario);
  color: var(--fondo);
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  justify-content: center;
  margin: 0.5rem;
  text-align: center;
}
.boton__principal:hover {
  background-color: var(--fondo);
  cursor: pointer;
  color: var(--primario);
  border: 1px solid var(--primario);
}

.boton__secundario {
  background-color: var(--activo);
  color: var(--primario);
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  cursor: pointer;
  margin: 0.5rem;
  justify-content: center;
  text-align: center;
}
.boton__secundario:hover {
  background-color: var(--fondo);
  color: var(--activo);
  border: 1px solid var(--activo);
}
.entrada {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding: 0.2rem;
  margin: 0.5rem;
}
.checkbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.checklist {
  display: flex;
  gap: 0.2rem;
}
.a {
  color: var(--activo);
}
label {
  font-size: 1rem;
  font-weight: bold;
}
.foto-portada{
  max-width: 90%;
  
}
.leaflet-container {
  width: 60vw;
  height: 30vh;
  border-radius: 2rem;
  padding: 2rem;
}