.transporte{
    background-color: var(--primario);
    padding: 1rem;
    color:var(--fondo);
    justify-content: center;
}
.oferta{
    /* background-color: var(--activo); */
    /* color:var(--primario); */
    display: flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
    border:1px solid transparent;
    border-radius: 0.5rem;
    padding:0.5rem;
}
.oferta__filtros{
    /* background: var(--primario); */
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    
}
.buscar__transporte {
    display: flex;
    flex-direction: column;
}